.footer__columns {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

@media screen and (max-width: 700px) {
  .footer__columns {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
