.feynman {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 890px;
  padding-top: 100px;
  background: no-repeat left bottom url("../../images/feynman.png"), #f2f2f2;
  background-size: min(80%, 867px);
}

@media screen and (max-width: 1124px) {
  .feynman {
    background: no-repeat center bottom url("../../images/feynman.png"), #f2f2f2;
    background-size: cover;
  }
}
