.header__subtitle {
  margin: 0;
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

@media screen and (max-width: 516px) {
  .header__subtitle {
    padding: 10px;
    left: 10px;
    max-width: 280px;
    line-height: 18px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
}
