.footer__column-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
