.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: min(100%, 765px);
  object-fit: cover;
  z-index: 2;
}

@media screen and (max-width: 516px) {
  .header__main-illustration {
    bottom: 104px;
  }
}
