.khan__book-pic {
  width: 620px;
  max-height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 1130px) {
  .khan__book-pic {
    margin-right: 0px;
    width: min(100%, 620px);
    aspect-ratio: 1/1;
  }
}
